<td>
 <div style="position:relative;"> 
 <div class="row_left_options">
			<a href="/players/edit/<%= player.id%>" class="edit" title="Edit Player">edit</a>
			<a href="/players/destroy/<%= player.id%>" class="delete" title="Delete Player">delete</a>			 
			<a href="/players/merge/<%= player.id%>" id="<%= player.id%>" class="merge" title="Merge Players">merge</a>
  </div>
</div>  
<input type="checkbox" name="same_as_me[]" value="<%= player.id%>">
</td>
<td class='left'><%=player.name %></td>
<td>
	<% games_count = 0
	   games_played = []
		 games.each_with_index do |g, i| 
		   if player.played_game?(g)
	       games_played[i]='x'
	       games_count = games_count + 1
	     else
	       games_played[i]=''
	     end
     end
 %>
 <%= games_count %>
</td>
<% games_played.each do |g| %>
	<td>
		<%= g %>
	</td>
<% end %>
