<table id="t<%=team.id%>" class="greentable left_menu">
	<tr>
	  <th></th>
		<th>Player</th>
		<th>
			<%= @stat.name %><br /> count
		</th>
		<% games = team.games.sort_by { |game| game[:date] }.each do |g| %>
			<th><%= g.date.strftime("%d <br/> %b") %></th>
		<% end%>
	</tr>
	<% team.players.all(:order => "last_name, first_name").each do |p| %>
  <tr class="<%= cycle('odd', 'even') %>">
	  <% if @stat.id == StatType.player_game_played.id %>
      <%= render(:partial => "row_games_played", :locals => {:player => p, :games => games } ) %>
    <% else %>
      <%= render(:partial => "row_stats", :locals => {:player => p, :games => games } ) %>	
    <% end %>
  </tr>
  <% end %>
</table>