!!!
%html
  %head
    %title 
      LeagueEngine - #{controller.controller_name.capitalize}
    
    -# included javascripts at bottom  
    = stylesheet_link_tag     '/javascripts/plugins/jquery-ui/smoothness/jquery-ui-1.7.2.custom.css', :media => "screen"
    = stylesheet_link_tag     'application'
  %body
    - if current_user
      #top_menu
        -# = link_to "Logout", user_session_path, :method => :destroy, :confirm => "Are you sure you want to logout?"
        = link_to 'Logout', logout_path, :confirm => 'Are you sure you want to logout?', :method => :delete
      #menu
        %ul
          %li
            = link_to 'leagues', admin_leagues_path
            %ul
              %li
                = link_to 'new league', new_admin_league_path
          %li
            = link_to 'games', admin_games_path
            %ul
              %li
                = link_to 'new games', new_admin_game_path
          %li
            =# link_to 'players', admin_players_path
            %ul
              %li
                =# link_to 'players stats', admin_players_stats_path
    
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" 
    
    #admin_content
      = yield
    
    
    -# --------------------
    -# JS includes
    -# --------------------    
    = javascript_include_tag  'jquery-1.4.2'
    = javascript_include_tag  'plugins/jquery-ui/jquery-ui-1.7.2.custom.min.js'
    = javascript_include_tag  'application'
    = yield :javascript
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    
    -# --------------------
    -# Google Analytics
    -# --------------------
    - if ! request.request_uri.include? 'localhost'
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

        try {
        var pageTracker = _gat._getTracker("UA-2083028-6");
        pageTracker._trackPageview();
        } catch(err) {}