<% form_for :account, :url => { :action => "create" } do |f| %> 
<fieldset>
	<h3>Create your LeagueStreet Account</h3> 
	<p class="error"><%= f.error_messages %></p>
	<label for="account_name">Account Name</label><%= f.text_field :name, :size => 20 %> <br />
	<label for="account_url">Web address</label> <%= f.text_field :url %><br />
	<label for="account_sport_id">Sport</label>
	<%= 
	@sports = Sport.find(:all, :order => "name") 
	f.collection_select(:sport_id, @sports, :id, :name) 
	%>
	<div id="sport_other" style="display: none;">
	<label for="account_other">Other</label> <%=f.text_field :other, :size=>15 %><br />
	</div>

	<h3>Account Administrator</h3>
	<p class="error"><%= error_messages_for :user %></p> 
	<% fields_for :user do |user| %>
	<label for="user_username">Username</label><%= user.text_field :username, :size => 20 %><br /> 
	<label for="user_password">Password</label><%= user.password_field :password, :size => 20 %><br />
	<label for="user_password_confirmation">Confirm Password</label> <%= user.password_field :password_confirmation, :size => 20 %><br />
	<!--label for="user_name">Name</label><!%= user.text_field :name, :size => 20 %!><br /-->
	<!--label for="user_surname">Surname</label> <!%= user.text_field :surname, :size => 20 %!><br /-->
  <label for="user_email">email</label><%= user.text_field :email, :size => 30 %> <br />
	<% end %> 
</fieldset> 
<%= submit_tag "Sign me up" %> 
<% end %>